/* Header row */
.header-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Timer styles */
.timer-box {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    gap: 10px;
}

#timerDisplay {
    font-size: 28px;
    font-weight: bold;
    min-width: 60px;
    text-align: center;
    font-family: 'Courier New', monospace;
}

#startTimer {
    padding: 8px 16px;
    font-size: 16px;

    border: 1px solid #4A0E2E;
    background-color: #061526;
    color: #f5edcc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', monospace;
}

#startTimer:hover {
    background-color: #ed8e68;
}

#startTimer:disabled {
    background-color: #ccc;
    color: black;
    cursor: not-allowed;
}

/* Info panel */
.info-container {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-direction: row-reverse;
}

.info-icon {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0;
    font-size: 16px;
}

.rules-popover {
    width: 250px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.rules-popover h3 {
    margin-top: 0;
}

.rules-popover ul {
    padding-left: 20px;
    margin-bottom: 0;
}

li{
    padding-bottom: 13px;
}

:popover-open {
    position: absolute;
    inset: unset;
    top: 10px;
    right: 45px;
    margin: 0;
}

/* Reset button */
.reset-icon {
    width: 24px;
    height: 24px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 0;
    font-size: 16px;
}

.reset-icon:hover {
    background-color: #aaa;
}

